.controls {
  display: flex;
  padding-top: 40px;
  padding-bottom: 50px;
}

.controls:last-child {
  margin-right: 0px;
}

.genre {
  margin-left: 3%;
  padding-bottom: 10px;
}

.genre select {
  font-weight: bold;
  border-radius: 34.15px;
  background-color: #d9d9d9;
  padding: 8px;
  padding-right: 0px;
  margin-right: 10px;
  border: none;
  outline: none;
}

.genre option {
  border: 1.7px solid #e1e1e1;
  background-color: #ffffff;
}

.sortBy {
  margin-left: 40%;
}

.sortBy select {
  border-radius: 30.73px;
  border-color: #e1e1e1;
  padding: 5px;
}

.productImage {
  width: 273px;
  height: 273px;
  border: 20px solid #d4e5ff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.rowContainer {
  display: flex;
  color: black;
  font-weight: bold;
  flex-direction: column;
  object-fit: contain;
}

.listProductImage {
  width: 20%;
  height: 20%;
  border: 18px solid #d4e5ff;
}
.overlayButtonList {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 91.5%;
  left: 91.5%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: none;
  cursor: pointer;
}

.button {
  height: 50px;
  width: 50px;
}

.views button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.views img {
  width: 30px;
  height: 30px;
}

.imageContainer {
  position: relative;
  display: inline-block;
}

.overlayButton {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 91.5%;
  left: 91.5%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: none;
  cursor: pointer;
}

.listItem {
  display: flex;
  justify-content: center;
  gap: 2%;
  margin-bottom: 40px;
}

.listItemInfo {
  display: flex;
  flex-direction: column;
}

.heading {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 1%;
}
.info {
  font-weight: 500;
  margin-bottom: 10px;
}

.listItem button {
  background-color: #2e0052;
  color: #ffffff;
  border-radius: 26px;
}

.detailsButton {
  cursor: pointer;
  margin-top: 0.1%;
  padding: 0.3% 2%;
}

.listItemImageContainer {
  position: relative;
  display: inline-block;
}

.listMainImage {
  display: block;
  width: 80%;
  height: auto;
  border: 20px solid #d4e5ff;
  cursor: pointer;
}

.bottomRightImage {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: auto;
  margin: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .sortBy {
    margin-left: 2px;
  }

  .controls {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    padding: 5px 0 5px 0;
  }
  .controls::-webkit-scrollbar {
    display: none;
  }

  .gridItem {
    border: 2px solid #cecece;
    margin-bottom: 20px;
    border-radius: 5px;
  }

  .genre select {
    display: inline-block;
  }

  hr {
    margin: none;
    width: 100%;
  }

  .gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin-bottom: 50px;
  }

  .imageContainer {
    width: 30%;
  }
  .productImage {
    width: 135px;
    height: 98%;
    border: 15px solid #d4e5ff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
  }

  .rowContainer {
    padding: 1px 0 2px 10px;
    font-size: 12px;
  }
}
