/*
.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(4, 1fr); 
  gap: 10px;
}

.container li {
  list-style-type: none;
 
}

.rowContainer {
  display: flex;
  color: black;
  font-weight: bold;
  flex-direction: column;
  object-fit: contain;
}

.rowContainer img {
    width: 273px;
    height: 273px;
}

.colorAndType {
  display: flex;
  object-fit: contain;
}
*/

.controls {
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
  padding-bottom: 50px;
}

.genre {
  margin-right: 10px;
  padding-bottom: 10px; 
}

.genre select {
  font-weight: bold;
  border-radius: 34.15px;
  background-color: #d9d9d9;
  padding: 5px;
  margin-right: 10px;
}

.sortBy select {
  border-radius: 30.73px;
  border-color: #e1e1e1;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.rowContainer {
  display: flex;
  color: black;
  font-weight: bold;
  flex-direction: column;
  object-fit: contain;
}

.listItem {
  display: flex;
}

.listItemInfo {
  display: flex;
  flex-direction: column;
}

.button {
  height: 50px;
  width: 50px;
}
