/*
.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(4, 1fr); 
  gap: 10px;
}

.container li {
  list-style-type: none;
 
}

.rowContainer {
  display: flex;
  color: black;
  font-weight: bold;
  flex-direction: column;
  object-fit: contain;
}

.rowContainer img {
    width: 273px;
    height: 273px;
}

.colorAndType {
  display: flex;
  object-fit: contain;
}
*/

.controls {
  display: flex;
  padding-top: 40px;
  padding-bottom: 50px;
}

.controls:last-child {
  margin-right: 0px;
}

.genre {
  margin-right: 10px;
  padding-bottom: 10px;
}

.genre select {
  font-weight: bold;
  border-radius: 34.15px;
  background-color: #d9d9d9;
  padding: 5px;
  margin-right: 10px;
}
.sortBy {
  margin-right: 2px;
}

.sortBy select {
  border-radius: 30.73px;
  border-color: #e1e1e1;
  padding: 5px;
}

.productImage {
  border: 20px #0d48a2;
}
.gridItem img {
  width: 273px;
  height: 273px;
  border: 20px solid #d4e5ff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.rowContainer {
  display: flex;
  color: black;
  font-weight: bold;
  flex-direction: column;
  object-fit: contain;
}

.listItem {
  display: flex;
}

.listItem img {
  border: 20px solid #d4e5ff;
}

.listItemInfo {
  display: flex;
  flex-direction: column;
}

.button {
  height: 50px;
  width: 50px;
}

.views button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.views img {
  width: 30px;
  height: 30px;
}
