.itemView {
  width: 1300px;
  margin-left: 95px;
  max-width: 1316px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.button {
  color: #ffffff;
  background: #2e0052;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5% 1% 0.5% 1%;
}

.image {
  width: 50%;
  height: 50%;
}

.fullName {
  font-weight: 600;
  font-family: "Roboto";
  font-size: 24px;
  line-height: 32px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.mainContent {
  display: flex;
  justify-content: flex-start;
  margin-top: 3%;
  min-width: 50%;
}

.mainContent img {
  min-width: 47%;
  border: 5px solid #000000;
  border-radius: 18px;
  padding: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-top: 2%;
}
.info ul {
  margin-top: 0px;
}
.smallPicsContainer {
  display: flex;
  margin-top: 2%;
  max-width: 80%;
}

.smallPics {
  width: 67%;
}

.smallPics img {
  border: 5px solid #000000;
  margin-right: 10px;
  border-radius: 10px;
  width: 206px;
  height: 150px;
}

.cartButtons {
  display: flex;
  flex-direction: column;
  padding: 2px;
}

.addToCart {
  color: #000000;
  width: 230px;
  height: 34px;
  background-color: #ffd600;
  border-radius: 40px;
  border: none;
  text-align: center;
  cursor: pointer;
}
.sideViewImages {
  cursor: pointer;
}
.addToCart:active {
  border: 2px #110ebe solid;
  transform: scale(1);
}

.addToCart:hover {
  background-color: #debb0b;
}

.buyNow {
  color: #000000;
  width: 230px;
  height: 34px;
  background-color: #ffb800;
  border-radius: 40px;
  border: none;
  text-align: center;
  cursor: pointer;
  margin-top: 8px;
}

.buyNow:active {
  border: 2px #110ebe solid;
  transform: scale(1);
}

.buyNow:hover {
  background-color: #ffd600;
}

@media (max-width: 768px) {
  .mainMobileElement {
    margin: 8% 5% 5% 5%;
  }
  .carousel {
    border: 3px solid #000000;
    border-radius: 8px;
    padding: 30px;
  }

  .mobileButtons {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 70px 10px;
  }

  .mobileButtons button {
    display: flex;
    flex-direction: column;
    width: 360px;
    padding: 2px 10px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }

  .viewHomePageButton {
    border: 2px solid #ffffff;
    margin: 100px 20px 30px 20px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.33);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 2px 0px 1px 4px;
  }
}
