.calculateTotalPrice {
  display: flex;
  width: 1300px;
  margin-left: 6%;
  justify-content: space-between;
}

.checkoutInfo {
  width: 100%;
}

.checkoutHeading {
  display: flex;
  justify-content: center;
  font-size: 28px;
  text-decoration: underline;
}

.button {
  color: #ffffff;
  background: #2e0052;
  border-radius: 14px;
  cursor: pointer;
}

.deliveryAddress {
  display: flex;
  font-weight: 500;
  justify-content: flex-start;
}

.deliveryAddressInput {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  justify-content: space-around;
  margin-left: 40%;
  color: #797979;
}
.deliveryAddressInput textarea {
  width: 380px;
  background-color: #ffffff;
  margin-top: 2px;
}

.paymentMethod {
  display: flex;
  font-weight: 500;
  justify-content: flex-start;
  margin-top: 20px;
}

.paymentMethod select {
  margin-left: 39%;
  border: 1px solid #919191;
  border-radius: 5px;
  padding: 8px;
  background-color: #f3f3f3;
  width: 390px;
  cursor: pointer;
}

.invoiceCard {
  border: 4px solid #e1e1e1;
  padding: 20px;
  border-radius: 4px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-right: -70px;
}

hr {
  width: 90%;
}
.Order span {
  font-size: 18px;
}

.Order p {
  font-size: 12px;
}

.Order button {
  background-color: #ffd600;
  border: none;
  width: 310px;
  height: 35px;
  border-radius: 11px;
}
.invoiceItem p {
  text-align: start;
}

.orderValues {
  margin-left: 150px;
}

.orderValuesTotal {
  margin-left: 100px;
}

.invoiceItem {
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  margin-left: 310px;
}

.imageContainer img {
  cursor: pointer;
}

.productInfo {
  margin-left: 320px;
}

.productImage {
  width: 120px;
  border: 1px solid #000000;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.review {
  display: flex;
  margin-top: 20px;
}

/* .invoiceTotal {
  border-top: 1px solid #ddd;
} */

/* .itemLabel,
.totalLabel {
  font-weight: bold;
} */

.itemCost,
.totalCost {
  font-weight: bold;
  color: #333;
}

.bottomBar {
  display: flex;
  border: 4px solid #e1e1e1;
  border-radius: 16px;
  object-fit: contain;
  width: 65%;
  height: 50px;
  align-items: center;
  padding: 0px 0px 0px 5px;
  margin: 0 0 2.8% 4%;
}
.placeYourOrder {
  background-color: #ffd600;
  object-fit: contain;
  text-align: center;
  font-weight: 400;
  border-radius: 8px;
  border: none;
  width: 233px;
  height: 32px;
  margin: 0px 0px 0px 10px;
}

.orderTotal {
  color: #b52b00;
  font-weight: 600;
}

.bottomBarText span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
}

.heading {
  color: #b52b00;
  font-size: 22px;
  font-weight: 500;
}
button {
  cursor: pointer;
}
button:active {
  border: 2px #110ebe solid;
  transform: scale(1);
}
/* 
button:hover {
   background-color: #9c8823; 
} */
.viewCart {
  color: #ffffff;
  background: #2e0052;
  border-radius: 8px;
  cursor: pointer;
  padding: 5px 25px;
  margin-left: 6%;
}

.viewCart:hover {
  background-color: #4c0e7b;
}
