.homePage {
  width: 1300px;
  margin-left: 95px;
  max-width: 1316px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.gradientBox {
  height: 207px;
  display: flex;
  margin-top: 55px;
  border-radius: 29px;
  background-image: linear-gradient(to right, #7286b4 0%, #e794ce 100%);
}

.gradientBox img {
  width: 350px;
  height: 244px;
  margin-left: 800px;
}
