.searchContainer {
  box-sizing: border-box;
  width: 100%;
  border-radius: 48px;
  display: flex;
  align-items: center;
  padding: 0 0.5rem 0 0.5 rem;
  border: 3px solid #e3e3e3;
  padding: 10px;
  margin-top: 15px;
}

.searchContainer img {
  width: 27px;
  height: 27px;
}

.searchBox {
  width: 100%;
  font-weight: 500;
  border: none;
  color: #9c9c9c;
  font-size: 1.2rem;
  outline: none;
}

.searchBox:focus {
  border: none;
}
