.box {
  height: 540px;
  box-shadow: 14px 16px 23px 2px rgba(0, 0, 0, 0.11);
}
.content {
  margin: auto;
  text-align: center;
  border: 3px solid #e3e3e3;
  width: 618px;
  height: 400px;
  margin-top: 52px;
  background-color: #ffffff;
  box-shadow: 14px 16px 23px 2px rgba(0, 0, 0, 0.11);
  border-radius: 11px;
}

.musicartLogo {
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-top: 20px;
  color: #2e0052;
  font-weight: 500;
  font-size: 25px;
}

.musicartLogo img {
  width: 2.5%;
}

.content img {
  margin-top: 50px;
  width: 76px;
  height: 76px;
}

.content p {
  font-size: 30px;
  font-weight: 600;
  color: #000000;
}

.content span {
  font-size: 20px;
  font-weight: 500;
  color: #969696;
}

.content button {
  width: 547px;
  height: 54px;
  border: none;
  border-radius: 14px;
  font-size: 26px;
  font-weight: 500;
  color: #ffffff;
  background-color: #2e0052;
  text-align: center;
  max-width: 50%;
  max-height: 10%;
  padding-top: 2px;
}

@media (max-width: 768px) {
  .musicartLogo {
    width: 1000px;
  }

  .content {
    height: 600px;
    width: 500px;
    margin-left: 20px;
  }
}
